
.navbar .nav.pull-right { float: right; margin-right:20px!important; }

/**** SEARCH ****/

input.sb-search-input { color:#666!important; }
.sb-search {
	position: relative;
	margin-top:-48px;
	width: 0%;
	min-width:30px;
	height: 60px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	font-family: inherit;
	font-size: 15px;
}
.sb-icon-search, .sb-search-submit  {
	width: 30px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height:62px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search {
	color: #555;
	background: #fff;
	z-index: 90;
	font-size: 15px;
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.sb-icon-search:before { content: "\f002 "; }

/* Open state */
.sb-search.sb-search-open, .no-js .sb-search { width: 100%;  }
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search { z-index: 11; }
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit { z-index: 90; }

@media (max-width: 767px) {
.sb-search { display:none; }
}

/* mobile menu */
@media(max-width:767px){
.navbar .nav.pull-right { float:none; width:100%; margin:0!important; background:#fff; }
}



